{% extends "includes/layout_front.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}

<section class="receitas">
    <div class="cards-content">
        {% for recipe in recipes %}
            <div class="card">
                <a href="/recipes/{{recipe.id}}" alt="{{recipe.title}}" title="{{recipe.title}}" style="text-decoration:none">
                    <div class="card-image-container">
                        <img src="{{recipe.img}}" alt="{{recipe.title}}">
                    </div>
                    <div class="card-content">
                        <h3>{{recipe.title}}</h3>
                        <p>por {{recipe.author}}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}}></div>
</section>
<script>
/* Paginação*/
function paginate(selectedPage, totalPages) {

    let pages = [],
        oldPage  // pagina anterior ao currentPage

    for (let currentPage = 1; currentPage <= totalPages; currentPage++) {

        const firstAndLastPage = currentPage == 1 || currentPage == totalPages
        const pagesAfterSelectedPage = currentPage <= selectedPage + 2
        const pagesBeforeSelectedPage = currentPage >= selectedPage - 2

        if (firstAndLastPage || pagesAfterSelectedPage && pagesBeforeSelectedPage) {

            if (oldPage && currentPage - oldPage > 2) {
                pages.push("...")
            }

            if (oldPage && currentPage - oldPage == 2) {
                pages.push(currentPage - 1)
            }

            pages.push(currentPage)

            oldPage = currentPage

        }
    }
    return pages
}

function createPagination(pagination) {
    const filter = pagination.dataset.filter
    const page = +pagination.dataset.page
    const total = +pagination.dataset.total
    const pages = paginate(page, total)

    let elements = ""

    for (let page of pages) {
        if (String(page).includes("...")) {
            elements += `<span>${page}</span>`
        } else {
            if( filter ) {
                elements += `<a href="?page=${page}&filter=${filter}">${page}</a>`
            } else {
                elements += `<a href="?page=${page}">${page}</a>`
            }
        }
    }

    pagination.innerHTML = elements
}

const pagination = document.querySelector('.pagination')

if (pagination) {
    createPagination(pagination)
}


</script>
{% endblock %}





